﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <h2>Export to HTML</h2>
        <p>@Html.ActionLink("Export 1", "ExportPdf1")</p>
    </div>
    <div>
        <h2>Export to PDF</h2>
        <p>@Html.ActionLink("Export 100", "ExportPdf100")</p>
    </div>
    <div>
        <h2>Export to PDF</h2>
        <p>@Html.ActionLink("Export 500", "ExportPdf500")</p>
    </div>
    <div>
        <h2>Export to PDF</h2>
        <p>@Html.ActionLink("Export 1000", "ExportPdf1000")</p>
    </div>
</div>